/* Navbar */
#navbar {
  background-color: #003a70 !important;
}

#navbar a {
  color: #f9e300 !important;
}

/* Centered Bug Text */
.rock-title h1 {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-top: 20px;
}

/* Image styling */
.image-container img {
  margin-top: 20px;
  width: 150px;
  height: auto;
}

/* Table styling */
.table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
}

/* General Page Layout */
.row {
  display: flex;
  justify-content: center;
}

.col-md-6 {
  margin: 20px;
}
